body {
		text-align: center; padding-top: 8em; background-color: #448aff; 
		transition: background-color 1.5s ease-in-out;
		-webkit-transition: background-color 1.5s ease-in-out;
		-moz-transition: background-color 1.5s ease-in-out;
    	-o-transition: background-color 1.5s ease-in-out;
	}
	#box {
		margin-bottom: 3em; height: 8em;
	}
	header {
		font-family: 'Raleway'; font-size:1.8em; color:#fff; margin-bottom: .4em;
	}
	
	#quote {
		margin-top: 1em; margin-bottom: 2em; color:#fff; font-family: 'Vollkorn'; font-style: italic;
		font-size:2.4em; line-height: 1; display: block;
	}
	a {
		font-family: 'Raleway'; font-size: 1.4em; color: #fff; display: block; border: 1px solid #fff; 
		width: 30%; height: 50px; margin: 0 auto; line-height: 50px; text-decoration: none; opacity: .7;
		min-width: 200px;
		border-radius: 4px; 
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px; 
	}
	a:hover {
		opacity: 1;
	}
	a:active {
		opacity: .7;
	}
	
	.c1 {
		background-color: #3b78e7; /*blue*/
	}
	
	.c2 {
		background-color: #673ab7; /*purple*/
	}
	
	.c3 {
		background-color: #e06055; /*red*/
	}
	
	

