body {
		text-align: center; padding-top: 8em; background-color: #448aff; transition: all 1.5s ease-in-out;
	}
	#box {
		margin-bottom: 3em; height: 8em;
	}
	header {
		font-family: 'Raleway'; font-size:1.8em; color:#fff; margin-bottom: .4em;
	}
	
	#quote {
		margin-top: 1em; margin-bottom: 2em; color:#fff; font-family: 'Vollkorn'; font-style: italic;
		font-size:2.4em; line-height: 1; display: block;
	}
	a {
		font-family: 'Vollkorn'; font-size: 1.4em; color: #fff; 
	}
	a:hover {
		opacity: 0.8;
	}
	.c1 {
		background-color: #00bcd4;
	}
	.c2 {
		background-color: #049be5;
	}
	.c3 {
		background-color: #458aff;
	}
	
	.c4 {
		background-color: #9576cd;
	}