	* {
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke: 0.35px;
	}
	body {
		text-align: center; padding-top: 8em;  
		transition: background-color 0.5s ease-in-out;
		-webkit-transition: background-color 0.5s ease-in-out;
		-moz-transition: background-color 0.5s ease-in-out;
    	-o-transition: background-color 0.5s ease-in-out;
	}
	#box {
		margin-bottom: 3em; height: 8em;
	}
	header {
		font-family: 'Raleway'; font-size:1.8em; color:#fff; margin-bottom: .4em; opacity: .9;
	}
	
	#quote {
		margin-top: 1em; margin-bottom: 2em; color:#fff; font-family: 'Vollkorn'; font-style: italic;
		font-size:2.4em; line-height: 1; display: block;
	}
	a#go {
		font-family: 'Raleway'; font-size: 1.2em; color: #fff; display: block; border: 1px solid #fff; 
		width: 15%; height: 50px; margin: 0 auto; line-height: 50px; text-decoration: none; opacity: .7;
		min-width: 200px; margin-bottom: 30px;
		border-radius: 4px; 
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px; 
	}
	a#go:hover {
		opacity: 1;
	}
	a#go:active {
		opacity: .7;
	}
	
	.c1 {
		background-color: #5E97F6; /*blue*/
	}
	.c2 {
		background-color: #33AC71; /*green*/
	}
	.c3 {
		background-color: #546e7a; /*teal*/
	}
	
	.c4 {
		background-color: #6d4c41; /*brown*/
	}

	.c5 {
		background-color: #673ab7; /*purple*/
	}
	.c6 {
		background-color: #673ab7; /*purple*/
	}
	
	
	
	

